{% extends "_base.twig" %}
{% import "macros/_m-images.twig" as images %}
{% import "macros/_m-buttons.twig" as buttons %}


{% block content %}
  {% embed "layouts/_l-one-column.twig" %}
  {% block contentOneColumn %}
    <p class="category">WEBINAR</p>
    <p class="h1">Aligning your forces for Good</p>
  {% endblock contentOneColumn %}
  {% endembed %}

  {{ images.hero('hero', 'https://unsplash.it/1200/576/?random', 600) }}



  {% embed "layouts/_l-one-column.twig" %}
    {% block contentOneColumn %}
      <p class="h2">Creative + Development</p>
      <p class="h2"><span class="appleLinksBlack">Wednesday, November 16th, 1:00 - 2:00pm ET</span></p>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      {{ buttons.button('Click Here', 'http://www.google.com','#EE413D', 'center') }}

      <p class="text">&nbsp;</p>

    {% endblock contentOneColumn %}
  {% endembed %}

  {% embed "layouts/_l-two-column.twig" %}
    {% block twoColumnA %}
      <div class="article">
        <p class="is-spaced-below">
        {{ images.image('thumb', 'https://unsplash.it/520/300/?image=200', 260 ) }}
      </p>
        <p class="h3"><a href="#">Good Data Visualization Practices: Dot Plots and Kin</a></p>
        <p class="text">This is article descriptions Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
    {% endblock twoColumnA %}
    {% block twoColumnB %}
    <div class="article">
      <p class="is-spaced-below">
      {{ images.image('thumb', 'https://unsplash.it/520/300/?image=307', 260 ) }}
    </p>
      <p class="h3"><a href="#">Good Data Visualization Practices: Dot Plots and Kin</a></p>
      <p class="text">This is article descriptions</p>
    </div>
    {% endblock twoColumnB %}
  {% endembed %}

  {% embed "layouts/_l-two-column.twig" %}
    {% block twoColumnA %}
      <div class="article">
        <p class="is-spaced-below">
        {{ images.image('thumb', 'https://unsplash.it/520/300/?image=307', 260 ) }}
      </p>
        <p class="h3"><a href="#">Good Data Visualization Practices: Dot Plots and Kin</a></p>
        <p class="text">This is article descriptions</p>
      </div>
    {% endblock twoColumnA %}
    {% block twoColumnB %}
      &nbsp;
    {% endblock twoColumnB %}
  {% endembed %}

  {% embed "layouts/_l-one-column-fixed.twig" %}
  {% block contentOneColumnFixed %}
  <div class="article--feature">
    <p class="is-spaced-below">
    {{ images.image('thumb', 'https://unsplash.it/520/300/?image=307', 260 ) }}
  </p>
    <p class="h3"><a href="#">Good Data Visualization Practices: Dot Plots and Kin</a></p>
    <p class="text">This is article descriptions</p>
  </div>
  {% endblock contentOneColumnFixed %}

  {% endembed %}




{% endblock content %}
